<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container">
    <div>
      <a class="navbar-brand m-0" routerLink="/" title="Home"> Home </a>
      <span>
        <img
          routerLink="/"
          src="assets/hoaxify.png"
          style="cursor: pointer"
          width="60"
          alt="TDD"
        />
      </span>
    </div>
    <ul class="navbar-nav">
      @if(!(authService.isLoggedIn$ | async)) {
      <a class="nav-link" routerLink="signup" title="Sign up"> Sign Up </a>
      <a class="nav-link" routerLink="login" title="Login"> Login </a>
      } @if(authService.user$ | async; as user) {
      <a class="nav-link" [routerLink]="['/user', user.id]" title="My Profile">
        My Profile
      </a>
      <a
        class="nav-link"
        style="cursor: pointer"
        (click)="onLogout()"
        title="Logout"
        >Logout</a
      >
      }
    </ul>
  </div>
</nav>
