<div
  *ngIf="showSignUpForm; else successMessage"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
>
  <div class="card" data-testid="sign-up-form">
    <div class="card-header">
      <h1>Sign Up</h1>
    </div>
    <div>
      <form class="card-body" [formGroup]="signUpForm">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            id="username"
            placeholder="Username"
            formControlName="username"
            (input)="onInputUserName()"
            class="form-control"
          />
        </div>
        <label for="email" class="form-label">E-mail</label>
        <div class="mb-3">
          <input
            id="email"
            placeholder="E-mail"
            formControlName="email"
            (input)="onInputEmail()"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            placeholder="Password"
            formControlName="password"
            type="password"
            (input)="onInputPass($event)"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="confirm-password" class="form-label"
            >Confirm Password</label
          >
          <input
            id="confirm-password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            type="password"
            (input)="onInputConfirmPass()"
            class="form-control"
          />
        </div>
        <div class="text-center">
          <app-button
            [disabled]="submitBtnDisabled"
            [isLoading]="isLoading"
            text="Sign Up"
            (onClicked)="onSubmit()"
          ></app-button>
          <!-- <button
            class="btn btn-primary"
            type="button"
            [disabled]="submitBtnDisabled || isLoading"
            (click)="onSubmit()"
          >
            <span *ngIf="!isLoading"> Sign Up </span>
            <span
              *ngIf="isLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>
            <span class="loading-text" *ngIf="isLoading">Loading...</span>
          </button> -->
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #successMessage>
  <app-alert
    alertText="Please check your e-mail to activate your account"
  ></app-alert>
</ng-template>
